body {

  background: linear-gradient(268deg, #80ff7d 9.15%, #80ffff 91.38%);
  height: 2397px;

}

/*------------- Header */

h1 {

  font-family: Georgia;
  font-style: normal;
  font-size: 64px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  color: #252525;
  margin-left: 108px;
  margin-right: 516px;
  margin-top: 40px;
  margin-bottom: 0px;


}

h2 {
  font-family: Georgia;
  font-style: normal;
  font-size: 64px;
  font-weight: 400;
  line-height: 86px;
  letter-spacing: 0em;
  color: #252525;
  margin-left: 109px;
  margin-right: 660px;
  margin-top: 139px;
  margin-bottom: 0px;
  width: 650px;
  height: 258px;

}

/*------------------- Line  */
hr {
  border: 1px solid #000000;

  width: 1228px;
  margin-left: 109px;
  margin-top: 200px;

}

/*-------------------- Nav Bar */


nav {

  margin-top: 10px;
  margin-left: 108px;
  width: 1228px;
  z-index: 1;
}

nav a {
  text-decoration: none;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

nav a:hover {
  color: rgb(244, 43, 170);

}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li {
  margin: 0 10px;

}

nav li#email {
  margin-right: auto;
}

/*------------------- Section */
.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 90px;
}

section p {
  margin-right: 20px;
  margin-left: 300px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

aside p {
  margin-left: 20px;
  margin-right: 300px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/*------------------- Article */

article {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

article h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

article p {
  font-size: 18px;
  line-height: 1.5;
}




/* Frame */


.project-frame {

  width: 672.53px;
  height: 509.87px;
  left: 4.28px;
  top: 4.28px;
  background-image: url("/Doc/calculator.png");

  box-shadow: 9.51242px 9.51242px 23.781px rgba(0, 0, 0, 0.35), 38.0497px 38.0497px 71.3431px rgba(0, 0, 0, 0.25);
  border-radius: 23.781px;
}